#page-contact-us {
  display: flex;
  align-items: center;
}
.contact-us-page {
  background: rgb(4 4 4 / 22%);
  width: 80%;
  height: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  direction: rtl;
  overflow-y: auto;
  margin: 0 auto;

  ::-webkit-scrollbar {
    visibility: "hidden";
    width: 0;
  }

  .contact-us-elements-container-container {
    margin-right: 50px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .contact-us-elements-container {
      width: 60%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .form-container {
    margin-right: 50px;
  }

  .contact-us-text {
    width: 94%;
  }

  .map-container {
    width: 600px;
    height: 400px;
    @media (max-width: 768px) {
      width: 100%;
    }
    > div {
      width: 100%;
      height: 100%;
    }
  }

  .contact-us-datails-container {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
    height: 358px;
    margin-top: 30px;
    @media (max-width: 768px) {
      height: 90px;
    }

    .contact-us-datails {
      > * {
        font-size: inherit;
      }
      .phone-content {
        display: flex;
        width: 100%;
        gap: 10px;

        > p {
          margin: 0;
        }
      }
    }
  }
}
