.home-page {
 background: rgb(4 4 4 / 22%);
  width: 80%;
  height: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  direction: rtl;
  overflow-y: auto;

  .home-elements-container-container {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
